@* @{
    var asset = ViewData["Asset"] as Asset;
} *@

@* @model Asset *@

@model DetailsAssetViewModel

@{
    ViewData["Title"] = "Asset Details";
}


@* <h3>@ViewData["PageTitle"]</h3> *@
@* <h3>@ViewBag.PageTitle</h3> *@
@* <h3>@ViewData["PageTitle"]</h3> *@
@* <h3>@Model.PageTitle</h3> *@


<h1 class="text-center text-primary fw-bold m-5">@Model.PageHeader</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-center text-white">
                <h3>@Model.Asset.Description</h3>
            </div>

            <div class="card-body">
                <h4>ID: @Model.Asset.Id</h4>
                <h4>Tag Number: @Model.Asset.TagNumber</h4>
                <h4>Asset Type: @Model.Asset.AssetType.Name</h4>
                <h4>Manufacturer: @Model.Asset.Manufacturer.Name</h4>
                <h4>Model: @Model.Asset.Model.Name</h4>
                <h4>Assigned To: @ViewBag.Employee.FirstName @ViewBag.Employee.LastName</h4>
                <h4>Serial Number: @Model.Asset.SerialNumber</h4>
            </div>

            <div class="card-footer text-center">
                <form method="post" asp-controller="Assets" asp-action="Delete" asp-route-id="@Model.Asset.Id">

                    <a asp-controller="Assets" asp-action="Index" class="btn btn-secondary col-md-3">Cancel</a>
                    <a asp-controller="Assets" asp-action="Edit" asp-route-id="@Model.Asset.Id" class="btn btn-primary col-md-3">Edit</a>
                    
                    <span id="deleteButtonSpan_@Model.Asset.Id">
                        <a class="btn btn-danger col-md-3" onclick="confirmDelete('@Model.Asset.Id', true)" >Delete</a>
                    </span>

                    <span id="deleteConfirmSpan_@Model.Asset.Id" class="collapse">
                        <span class="text-danger">
                            Are you sure about deleting this asset?
                        </span>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@Model.Asset.Id', false)">No</a>
                        <button type="submit" class="btn btn-danger">yes</button>
                    </span>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/confirmdelete.js"></script>
}


@* <div> *@
    @* Tag Number: @asset.TagNumber *@
    @* Tag Number: @ViewBag.asset.TagNumber *@
    @* Tag Number: @Model.TagNumber *@
    @* Tag Number: @Model.Asset.TagNumber *@
@* </div> *@

@* <div> *@
    @* Description: @asset.Description *@
    @* Description: @ViewBag.asset.Description *@
    @* Description: @Model.Description *@
    @* Description: @Model.Asset.Description *@
@* </div> *@

@* <div> *@
    @* Assigned To: @asset.AssignedTo *@
    @* Assigned To: @ViewBag.asset.AssignedTo *@
    @* Assigned To: @Model.AssignedTo *@
    @* Assigned To: @Model.Asset.AssignedTo *@
@* </div> *@

@* <div> *@
    @* Serial Number: @asset.SerialNumber *@
    @* Serial Number: @ViewBag.asset.SerialNumber *@
    @* Serial Number: @Model.SerialNumber *@
    @* Serial Number: @Model.Asset.SerialNumber *@
@* </div> *@

@* <div> *@
    @* Asset Type: @asset.AssetType *@
    @* Asset Type: @ViewBag.asset.AssetType *@
    @* Asset Type: @Model.AssetType *@
    @* Asset Type: @Model.Asset.AssetType *@
@* </div> *@

@* <div> *@
    @* Manufacturer: @asset.Manufacturer *@
    @* Manufacturer: @ViewBag.asset.Manufacturer *@
    @* Manufacturer: @Model.Manufacturer *@
    @* Manufacturer: @Model.Asset.Manufacturer *@
@* </div> *@

@* <div> *@
    @* Model: @asset.Model *@
    @* Model: @ViewBag.asset.Model *@
    @* Model: @Model.Model *@
    @* Model: @Model.Asset.Model *@
@* </div> *@