@* @{
    var asset = ViewData["Asset"] as Asset;
} *@

@* @model Asset *@

@model AssetViewModel



@* <h3>@ViewData["PageTitle"]</h3> *@
@* <h3>@ViewBag.PageTitle</h3> *@
@* <h3>@ViewData["PageTitle"]</h3> *@
<h3>@Model.PageTitle</h3>



<div>
    @* Tag Number: @asset.TagNumber *@
    @* Tag Number: @ViewBag.asset.TagNumber *@
    @* Tag Number: @Model.TagNumber *@
    Tag Number: @Model.Asset.TagNumber
</div>

<div>
    @* Description: @asset.Description *@
    @* Description: @ViewBag.asset.Description *@
    @* Description: @Model.Description *@
    Description: @Model.Asset.Description
</div>

<div>
    @* Assigned To: @asset.AssignedTo *@
    @* Assigned To: @ViewBag.asset.AssignedTo *@
    @* Assigned To: @Model.AssignedTo *@
    Assigned To: @Model.Asset.AssignedTo
</div>

<div>
    @* Serial Number: @asset.SerialNumber *@
    @* Serial Number: @ViewBag.asset.SerialNumber *@
    @* Serial Number: @Model.SerialNumber *@
    Serial Number: @Model.Asset.SerialNumber
</div>

<div>
    @* Asset Type: @asset.AssetType *@
    @* Asset Type: @ViewBag.asset.AssetType *@
    @* Asset Type: @Model.AssetType *@
    Asset Type: @Model.Asset.AssetType
</div>

<div>
    @* Manufacturer: @asset.Manufacturer *@
    @* Manufacturer: @ViewBag.asset.Manufacturer *@
    @* Manufacturer: @Model.Manufacturer *@
    Manufacturer: @Model.Asset.Manufacturer
</div>

<div>
    @* Model: @asset.Model *@
    @* Model: @ViewBag.asset.Model *@
    @* Model: @Model.Model *@
    Model: @Model.Asset.Model
</div>