@model IList<Asset>

@{
    ViewData["Title"] = "List of Assets";
}

<div class="row">
    <div class="col-12 text-center">
        <a asp-controller="Assets" asp-action="Create" class="btn btn-primary col-5 m-3 fw-bold" style="font-size:18px;">Add Asset</a>
    </div>
</div>


<h1 class="text-center text-primary fw-bold m-5">List of Assets</h1>

<table class="table table-borderless table-responsive table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th>Tag Number</th>
            <th>Asset Type</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Description</th>
            <th>Assigned To</th>
            <th>Serial Number</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.TagNumber</td>
                <td>@asset.AssetType.Name</td>
                <td>@asset.Manufacturer.Name</td>
                <td>@asset.Model.Name</td>
                <td>@asset.Description</td>
                <td>@asset.AssignedTo</td>
                <td>@asset.SerialNumber</td>
                <td>
                    <form method="post" asp-controller="Assets" asp-action="Delete" asp-route-id="@asset.Id">
                        <a asp-controller="Assets" asp-action="Details" asp-route-id="@asset.Id">View</a>
                        <a asp-controller="Assets" asp-action="Edit" asp-route-id="@asset.Id">Edit</a>
                        <span id="deleteButtonSpan_@asset.Id">
                            <a href="#" onclick="confirmDelete('@asset.Id', true); return false;">Delete</a>
                        </span>

                        <div>
                            <span id="deleteConfirmSpan_@asset.Id" class="collapse">
                                <span class="text-danger">
                                    Are you sure?
                                </span>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@asset.Id', false); return false;">No</a>
                                <button type="submit" class="btn btn-danger">yes</button>
                            </span>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/confirmdelete.js"></script>
}