@model IList<Asset>

@{
    ViewData["Title"] = "List of Assets";
}

<h1 class="text-center text-primary fw-bold m-5">List of Assets</h1>

<table class="table table-borderless table-responsive table-striped">
    <thead class="bg-primary text-white">
        <tr>
            <th>Tag Number</th>
            <th>Asset Type Id</th>
            <th>Manufacturer Id</th>
            <th>Model Id</th>
            <th>Description</th>
            <th>Assigned To</th>
            <th>Serial Number</th>
            @* <th>Asset Type</th>
            <th>Manufacturer</th>
            <th>Model</th> *@
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.TagNumber</td>
                <td>@asset.AssetTypeId</td>
                <td>@asset.ManufacturerId</td>
                <td>@asset.ModelId</td>
                <td>@asset.Description</td>
                <td>@asset.AssignedTo</td>
                <td>@asset.SerialNumber</td>
                @* <td>@asset.AssetType</td>
                <td>@asset.Manufacturer</td>
                <td>@asset.Model</td> *@
                <td>
                    <a asp-controller="Assets" asp-action="Details" asp-route-id="@asset.Id">View</a>
                    <a asp-controller="Assets" asp-action="Edit" asp-route-id="@asset.Id">Edit</a>
                    <a asp-controller="Assets" asp-action="Delete" asp-route-id="@asset.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>